<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paxsz.demo.emvdemo">

    <uses-permission android:name="com.pax.permission.MAGCARD" />
    <uses-permission android:name="com.pax.permission.PED" />
    <uses-permission android:name="com.pax.permission.ICC" />
    <uses-permission android:name="com.pax.permission.PICC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.EmvDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectParamFileActivity"></activity>
        <activity
            android:name=".trans.TransResultActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".KernelLibInfoActivity" />
        <activity android:name=".trans.TransProcessActivity" />
        <activity android:name=".trans.ApduTimeRecordActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/launcher_activity_style">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>